<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/default_reset.css" />
        <link rel="stylesheet" href="../public/css/game.css" />
        <title>Remake Space Invaders</title>
    </head>
    <body>
        <div class="container-game">
            <canvas id="screen" width="34" height="17"></canvas>
        </div>
    </body>
</html>
<script>
    // Canvas Specs
    const screen = document.getElementById("screen");
    const context = screen.getContext("2d");
    const currentPlayerId = "player1";

    // Public Methods
    const game = create_game();
    const keyboardListener = create_keyboard_listener();
    // const network = create_network();          --- Simulação de uma camada de servidor

    // Integração da Camada Input com a Camada de Business Rules apenas no RUN-TIME do codigo
    keyboardListener.subscribe(game.player_accepted_moves);
    // keyboard_listener.subscribe(network.update);   -- Simulação de uma camada de servidor

    // Business Rules

    // Factory 1
    function create_game(command) {
        // TODO: Implementar os Objetos: playerBullet, alienBullet e meteorites;
        const state = {
            players: {},
            playerBullets: {},
            aliens: {},
            alienBullets: {},
            meteorites: {},
        };

        function add_player(command) {
            const playerId = command.playerId;
            const playerX = command.playerX;
            const playerY = command.playerY;

            state.players[playerId] = {
                x: playerX,
                y: playerY,
            };
        }

        function remove_player(command) {
            const playerId = command.playerId;

            // "delete" serve para deletar uma propriedade e suas referencias dentro de um objeto
            delete state.players[playerId];
        }

        function add_alien(command) {
            const alienId = command.alienId;
            const alienX = command.alienX;
            const alienY = command.alienY;

            state.aliens[alienId] = {
                x: alienX,
                y: alienY,
            };
        }

        function remove_alien(command) {
            const alienId = command.alienId;

            delete state.aliens[alienId];
        }

        function add_player_bullet(command) {
            const playerBulletId = command.playerBulletId;
            const playerBulletX = command.playerBulletX;
            const playerBulletY = command.playerBulletY;

            state.playerBullets[playerBulletId] = {
                x: playerBulletX,
                y: playerBulletY,
            };
        }

        function remove_player_bullet(command) {
            const playerBulletId = command.playerBulletId;

            delete state.playerBullets[playerBulletId];
        }

        function add_alien_bullet(command) {
            const alienBulletId = command.alienBulletId;
            const alienBulletX = command.alienBulletX;
            const alienBulletY = command.alienBulletY;

            state.alienBullets[alienBulletId] = {
                x: alienBulletX,
                y: alienBulletY,
            };
        }

        function remove_alien_bullet(command) {
            const alienBulletId = command.alienBulletId;

            delete state.alienBullets[alienBulletId];
        }

        function add_meteorite(command) {
            const meteoriteId = command.meteoriteId;
            const meteoriteX = command.meteoriteX;
            const meteoriteY = command.meteoriteY;

            state.meteorites[meteoriteId] = {
                x: meteoriteX,
                y: meteoriteY,
            };
        }

        function remove_meteorite(command) {
            const meteoriteId = command.meteoriteId;

            delete state.meteorites[meteoriteId];
        }

        function player_bullet_state() {
            for (const playerBulletId in state.playerBullets) {
                const playerBullet = state.playerBullets[playerBulletId];
                console.log("> Atacando");
                if (playerBullet.y <= 0) {
                    remove_player_bullet({ playerBulletId: playerBulletId });
                } else {
                    setInterval(() => {
                        // FIXME:
                        --playerBullet.y;
                    }, 150);
                }
                for (const alienId in state.aliens) {
                    const alien = state.aliens[alienId];
                    if (
                        alien.y === playerBullet.y &&
                        alien.x === playerBullet.x
                    ) {
                        console.log("Alien Foi Morto em Combate");
                        remove_player_bullet({
                            playerBulletId: playerBulletId,
                        });
                        remove_alien({ alienId: alienId });
                    }
                }
            }
        }

        function player_accepted_moves(command) {
            const acceptedMoves = {
                ArrowUp(player) {
                    console.log("Player to Up");

                    if (player.y - 1 >= 14) {
                        --player.y;
                        return;
                    }
                },
                ArrowDown(player) {
                    console.log("Player to Down");

                    if (player.y + 1 < screen.height) {
                        ++player.y;
                        return;
                    }
                },
                ArrowLeft: function (player) {
                    console.log("Player to Left");

                    if (player.x - 1 >= 0) {
                        --player.x;
                        return;
                    }
                },
                ArrowRight: (player) => {
                    console.log("Player to Right");

                    if (player.x + 1 < screen.width) {
                        ++player.x;
                        return;
                    }
                },
                z(player) {
                    console.log("Player Atack");

                    const generatedBulletId = (Math.random() * 2).toFixed(3);
                    let playerY = player.y;
                    const spawnPlayerBullet = --playerY;

                    add_player_bullet({
                        playerBulletId: generatedBulletId,
                        playerBulletX: player.x,
                        playerBulletY: spawnPlayerBullet,
                    });
                    player_bullet_state();
                },
            };
            const playerId = command.playerId;
            const keyPressed = command.keyPressed;
            const player = state.players[playerId];
            const moveFunction = acceptedMoves[keyPressed];

            if (player && moveFunction) {
                moveFunction(player);
            }
        }

        return {
            player_bullet_state,
            state,
            add_player,
            add_alien,
            add_player_bullet,
            add_alien_bullet,
            add_meteorite,
            remove_player,
            remove_alien,
            remove_player_bullet,
            remove_alien_bullet,
            remove_meteorite,
            player_accepted_moves,
        };
    }

    // FIXME:
    game.add_player({ playerId: "player1", playerX: 8, playerY: 16 });
    game.add_player({ playerId: "player2", playerX: 2, playerY: 0 });
    game.add_player({ playerId: "player3", playerX: 6, playerY: 0 });
    game.add_alien({ alienId: "alien2", alienX: 33, alienY: 15 });
    game.add_alien({ alienId: "alien3", alienX: 31, alienY: 15 });
    game.add_alien({ alienId: "alien4", alienX: 29, alienY: 15 });
    // Input Layer

    // Subject and Factory 2
    function create_keyboard_listener() {
        const state = {
            observers: [],
        };

        // Registrando um Observer em um Subject
        function subscribe(observerFunction) {
            state.observers.push(observerFunction);
        }

        // Notificando os Observers
        function notifyAll(command) {
            console.log(
                `KeyboardListener -> Notifying ${state.observers.length} observers`
            );

            // "for of" é muito utilizado para Percorrer os indices de um Array
            for (const observerFunction of state.observers) {
                observerFunction(command);
            }
        }

        document.addEventListener("keyup", input_key_down);

        function input_key_down(event) {
            const keyPressed = event.key;

            //Most Important Object of System
            const command = {
                playerId: "player1",
                keyPressed,
            };

            notifyAll(command);
        }
        return {
            subscribe,
        };
    }

    render_screen();

    function render_screen() {
        context.clearRect(0, 0, screen.width, screen.height);

        // "for in" é muito utilizado para Percorrer Propriedades/Indices de objetos
        for (const playerId in game.state.players) {
            const player = game.state.players[playerId];
            context.fillStyle = "#42e9f4";
            context.fillRect(player.x, player.y, 1, 1);
        }
        for (const alienId in game.state.aliens) {
            const alien = game.state.aliens[alienId];
            context.fillStyle = "#62de6d";
            context.fillRect(alien.x, alien.y, 1, 1);
        }
        for (const playerBulletId in game.state.playerBullets) {
            const playerBullet = game.state.playerBullets[playerBulletId];
            context.fillStyle = "#5353f1";
            context.fillRect(playerBullet.x, playerBullet.y, 1, 1);
        }
        for (const alienBulletId in game.state.alienBullets) {
            const alienBullet = game.state.alienBullets[alienBulletId];
            context.fillStyle = "#ebdf64";
            context.fillRect(alienBullet.x, alienBullet.y, 1, 1);
        }
        for (const meteoriteId in game.state.meteorites) {
            const meteorite = game.state.meteorites[meteoriteId];
            context.fillStyle = "#f83b3a";
            context.fillRect(meteorite.x, meteorite.y, 1, 1);
        }

        requestAnimationFrame(render_screen);
    }
</script>
