<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/default_reset.css" />
        <link rel="stylesheet" href="../public/css/default.css" />
        <title>Home</title>
    </head>
    <body>
        <!-- Homepage -->
        <div class="c-general">
            <div class="c-general__align">
                <!-- Video BackGround-->
                <video
                    id="space_invaders_history"
                    class="home__video"
                    autoplay
                    muted
                    loop
                    src="../public/assets/video/History Invaders Games (1978-2021).mp4"
                    type="video/mp4"
                ></video>
                <!-- Contents -->
                <div class="home__content">
                    <div class="content__box">
                        <h1 class="box__title">Gostou? Jogue já!</h1>
                    </div>
                    <div class="content__box2">
                        <!-- Form Login -->
                        <form
                            id="form_login"
                            method="post"
                            onsubmit="return entrar()"
                            class="box2__form"
                        >
                            <h2>Email:</h2>
                            <input type="email" name="email" />
                            <h2>Senha:</h2>
                            <input type="password" name="password" />
                            <br />
                            <input type="submit" value="Entrar" id="submit" />
                            <span class="form__redirect-register">
                                Não possui cadastro?
                                <a href="../Views/register_page.html"
                                    >Entre aqui.</a
                                >
                            </span>
                        </form>
                        <!-- End Login -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    function entrar() {
        aguardar();
        var formulario = new URLSearchParams(new FormData(form_login));
        fetch("/usuarios/autenticar", {
            method: "POST",
            body: formulario,
        }).then((resposta) => {
            if (resposta.ok) {
                resposta.json().then((json) => {
                    sessionStorage.login_usuario_meuapp = json.login;
                    sessionStorage.nome_usuario_meuapp = json.nome;

                    window.location.href = "client_game.html";
                });
            } else {
                console.log("Erro de login!");

                resposta.text().then((texto) => {
                    console.error(texto);
                    finalizar_aguardar(texto);
                });
            }
        });

        return false;
    }

    function aguardar() {
        submit.disabled = true;
    }

    function finalizar_aguardar(resposta) {
        submit.disabled = false;
    }
</script>
