<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../public/css/default_reset.css" />
        <link rel="stylesheet" href="../public/css/default.css" />
        <title>Cadastro</title>
    </head>
    <body>
        <div class="c-general register__background">
            <!-- Form Login -->
            <h1 id="register__title">Crie aqui sua Conta:</h1>
            <div class="box3__form-register">
                <form action="" class="form-register">
                    <h2>Email:</h2>
                    <input type="email" />
                    <h2>Usuário:</h2>
                    <input type="text" />
                    <h2>Senha:</h2>
                    <input type="password" />
                    <input
                        type="submit"
                        value="Cadastrar"
                        id="submit_register"
                    />
                </form>
            </div>
            <!-- End Login -->
        </div>
    </body>
</html>
<script></script>
