<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/default_reset.css" />
        <link rel="stylesheet" href="../css/game.css" />
        <title>Remake Space Invaders</title>
    </head>
    <body>
        <div class="container-game">
            <canvas id="screen" width="34" height="17"></canvas>
        </div>
    </body>
</html>
<script>
    // Canvas Specs
    const screen = document.getElementById("screen");
    const context = screen.getContext("2d");
    const currentPlayerId = "player1";

    // Public Methods
    const game = create_game();
    const keyboardListener = create_keyboard_listener();
    // const network = create_network();          --- Simulação de uma camada de servidor

    // Integração da Camada Input com a Camada de Business Rules apenas no RUN-TIME do codigo
    keyboardListener.subscribe(game.move_player);
    // keyboard_listener.subscribe(network.update);   -- Simulação de uma camada de servidor

    // Business Rules

    // Factory 1
    function create_game(command) {
        // TODO: Implementar os Objetos dos Projeteis dos Aliens e Players
        const state = {
            players: {
                player1: {
                    x: 16,
                    y: 16,
                },
            },
            aliens: {
                alien1: {
                    x: 10,
                    y: 3,
                },
                alien2: {
                    x: 13,
                    y: 3,
                },
            },
            playerBullet: {
                x: 0,
                y: 0,
            },
            AlienBullet: {
                x: 0,
                y: 0,
            },
        };

        function move_player(command) {
            console.log(
                `game.movePlayer() -> ${command.playerId} with ${command.keyPressed}`
            );

            const acceptedMoves = {
                ArrowUp(player) {
                    console.log("Player to Up");
                    if (player.y - 1 >= 0) {
                        --player.y;
                        return;
                    }
                },
                ArrowDown(player) {
                    console.log("Player to Down");
                    if (player.y + 1 < 17) {
                        ++player.y;
                        return;
                    }
                },
                ArrowLeft(player) {
                    console.log("Player to Left");
                    if (player.x - 1 >= 0) {
                        --player.x;
                        return;
                    }
                },
                ArrowRight(player) {
                    console.log("Player to Right");
                    if (player.x + 1 < screen.width) {
                        ++player.x;
                        return;
                    }
                },
            };
            const keyPressed = command.keyPressed;
            const player = state.players[command.playerId];
            const moveFunction = acceptedMoves[keyPressed];

            if (moveFunction != undefined) {
                moveFunction(player);
            }
            return;
            // FIXME:
        }
        return {
            move_player,
            state,
        };
    }

    // Input Layer

    // Subject and Factory 2
    function create_keyboard_listener() {
        const state = {
            observers: [],
        };

        // Registrando um Observer em um Subject
        function subscribe(observerFunction) {
            state.observers.push(observerFunction);
        }

        // Notificando os Observers
        function notifyAll(command) {
            console.log(
                `KeyboardListener -> Notifying ${state.observers.length} observers`
            );

            // "for of" é muito utilizado para Percorrer os indices de um Array
            for (const observerFunction of state.observers) {
                observerFunction(command);
            }
        }

        document.addEventListener("keydown", input_key_down);

        function input_key_down(event) {
            const keyPressed = event.key;

            //Most Important Object of System
            const command = {
                playerId: "player1",
                keyPressed,
            };

            notifyAll(command);
        }
        return {
            subscribe,
        };
    }

    render_screen();

    function render_screen() {
        context.clearRect(0, 0, screen.width, screen.height);

        // "for in" é muito utilizado para Percorrer Objetos Propriedades de objetos
        for (const playerId in game.state.players) {
            const player = game.state.players[playerId];
            context.fillStyle = "#42e9f4";
            context.fillRect(player.x, player.y, 1, 1);
        }
        for (const alienId in game.state.aliens) {
            const alien = game.state.aliens[alienId];
            context.fillStyle = "#62de6d";
            context.fillRect(alien.x, alien.y, 1, 1);
        }
        requestAnimationFrame(render_screen);
    }
</script>
