<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/default_reset.css" />
        <link rel="stylesheet" href="../css/game.css" />
        <title>Remake Space Invaders</title>
    </head>
    <body>
        <div class="container-game">
            <canvas id="screen" width="34" height="17"></canvas>
        </div>
    </body>
</html>
<script>
    const screen = document.getElementById("screen");
    const context = screen.getContext("2d");

    const color = "black";
    const positionX = 0;
    const positionY = 0;
    const width = 1;
    const height = 1;

    const game = {
        players: {
            player1: {
                x: 16,
                y: 15,
            },
        },
        playerBullet: {
            x: 0,
            y: 0,
        },
        aliens: {
            alien1: {
                x: 10,
                y: 3,
            },
            alien2: {
                x: 13,
                y: 3,
            },
        },
        AlienBullet: {
            x: 0,
            y: 0,
        },
    };

    render_screen();

    function render_screen() {
        for (playerId in game.players) {
            const player = game.players[playerId];
            context.fillStyle = "#42e9f4";
            context.fillRect(player.x, player.y, 1, 1);
        }
        for (alienId in game.aliens) {
            const alien = game.aliens[alienId];
            context.fillStyle = "#62de6d";
            context.fillRect(alien.x, alien.y, 1, 1);
        }
    }

    context.fillStyle = color;
    // context.fillRect(positionX, positionY, width, height);
</script>
